{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <body>
        {% block content %}
        <!--================Header Menu Area =================-->
        <header class="main_menu_area">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#"><img src="/media/img/oomusiclogo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="../index.html">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="../about-us.html">About Us</a></li>
                        <li class="nav-item"><a class="nav-link" href="../service.html">Services</a></li>
                        <li class="nav-item active"><a class="nav-link" href="portfolio.html">Portfolio</a></li>
                        <li class="nav-item dropdown submenu">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Blog
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                                <li class="nav-item"><a class="nav-link" href="../single-blog.html">Blog Details</a></li>
                                <li class="nav-item"><a class="nav-link" href="../elements.html">Elements</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="../contact.html">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <!--================End Header Menu Area =================-->
        
        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_inner_text">
                    <h2>Portfolio</h2>
                    <p>See our best work</p>
                </div>
            </div>
        </section>
        <!--================End Banner Area =================-->
        
        <!--================Portfolio Area =================-->
        <section class="portfolio_area">
            <div class="container">
                <div class="portfolio_filter">
                    <ul>
                        <li class="active" data-filter="*"><a href="#">All</a></li>
                        <li data-filter=".brand"><a href="#">Brand identity</a></li>
                        <li data-filter=".design"><a href="#">Design</a></li>
                        <li data-filter=".arc"><a href="#">Architecture</a></li>
                        <li data-filter=".photo"><a href="#">Photography</a></li>
                    </ul>
                </div>
            </div>
            <div class="ms_portfolio_inner">
                <div class="ms_p_item wd_25 brand arc photo">
                    <img src="/media/img/portfolio/ms-portfolio/ms-p-1.jpg" alt="">
                </div>
                <div class="ms_p_item wd_25 brand arc photo">
                    <img src="/media/img/portfolio/ms-portfolio/ms-p-2.jpg" alt="">
                </div>
                <div class="ms_p_item wd_50 brand">
                    <img src="/media/img/portfolio/ms-portfolio/ms-p-3.jpg" alt="">
                </div>
                <div class="ms_p_item wd_25 brand arc photo">
                    <img src="/media/img/portfolio/ms-portfolio/ms-p-4.jpg" alt="">
                </div>
                <div class="ms_p_item wd_25 brand arc photo">
                    <img src="/media/img/portfolio/ms-portfolio/ms-p-5.jpg" alt="">
                </div>
                <div class="ms_p_item wd_50">
                    <img src="/media/img/portfolio/ms-portfolio/ms-p-6.jpg" alt="">
                </div>
                <div class="ms_p_item wd_25 design arc">
                    <img src="/media/img/portfolio/ms-portfolio/ms-p-7.jpg" alt="">
                </div>
                <div class="ms_p_item wd_25 design arc">
                    <img src="/media/img/portfolio/ms-portfolio/ms-p-8.jpg" alt="">
                </div>
                <div class="ms_p_item wd_25 design arc">
                    <img src="/media/img/portfolio/ms-portfolio/ms-p-9.jpg" alt="">
                </div>
                <div class="ms_p_item wd_25 design arc">
                    <img src="/media/img/portfolio/ms-portfolio/ms-p-10.jpg" alt="">
                </div>
            </div>
        </section>
        <!--================End Portfolio Area =================-->
    {% endblock content %}
    </body>
</html>