{% load static %}
        <!--================Footer Area =================-->
        <footer class="footr_area">
            <div class="footer_widget_area" style="background-image: url(../media/img/footer-bg.jpg);">
                <div class="container">
                    <div class="row footer_widget_inner">
                        <div class="col-lg-5 col-sm-6">
                            <aside class="f_widget f_about_widget">
                                <img src="/media/img/oomusiclogo.png" alt="">
                                <p style="color: black">Cras ex mauris, ornare eget pretium sit amet, dignissim et turpis. Nunc nec maximus dui, vel suscipit dolor. Donec elementum velit a orci facilisis rutrum.</p>
                            </aside>
                        </div>
                        <div class="col-lg-5 col-sm-6">
                            <aside class="f_widget f_insta_widget">
                                <div class="f_title">
                                    <h3 style="color: black">Instagram</h3>
                                </div>
                                <ul>
                                    <li><a href="#"><img src="/media/img/instagram/ins-1.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="/media/img/instagram/ins-2.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="/media/img/instagram/ins-3.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="/media/img/instagram/ins-4.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="/media/img/instagram/ins-5.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="/media/img/instagram/ins-6.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="/media/img/instagram/ins-7.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="/media/img/instagram/ins-8.jpg" alt=""></a></li>
                                </ul>
                            </aside>
                        </div>
                </div>
            </div>
            </div>
            <div class="footer_copyright">
                <div class="container">
                    <div class="float-sm-left">
                        <h5><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></h5>
                    </div>
                    <div class="float-sm-right">
                        <ul>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!--================End Footer Area =================-->